<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Branden Dane</title>
	<meta name="author" content="Branden Dane">
	<meta name="description" content="Branden Dane. Developer. Designer. Professional Thinker. Caught all 150 pokemon.">
	<meta name="keywords" content="branden dane portfolio website drupal wordpress developer designer nodejs javascript awesome guy">
	<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
	
	<!-- Obessesive Compulsive Favicon For Everything -->
	<link rel="apple-touch-icon-precomposed" sizes="57x57" href="http://www.danetheory.com/apple-touch-icon-57x57.png" />
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://www.danetheory.com/apple-touch-icon-114x114.png" />
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://www.danetheory.com/apple-touch-icon-72x72.png" />
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://www.danetheory.com/apple-touch-icon-144x144.png" />
	<link rel="apple-touch-icon-precomposed" sizes="60x60" href="http://www.danetheory.com/apple-touch-icon-60x60.png" />
	<link rel="apple-touch-icon-precomposed" sizes="120x120" href="http://www.danetheory.com/apple-touch-icon-120x120.png" />
	<link rel="apple-touch-icon-precomposed" sizes="76x76" href="http://www.danetheory.com/apple-touch-icon-76x76.png" />
	<link rel="apple-touch-icon-precomposed" sizes="152x152" href="http://www.danetheory.com/apple-touch-icon-152x152.png" />
	<link rel="icon" type="image/png" href="http://www.danetheory.com/favicon-196x196.png" sizes="196x196" />
	<link rel="icon" type="image/png" href="http://www.danetheory.com/favicon-96x96.png" sizes="96x96" />
	<link rel="icon" type="image/png" href="http://www.danetheory.com/favicon-32x32.png" sizes="32x32" />
	<link rel="icon" type="image/png" href="http://www.danetheory.com/favicon-128.png" sizes="128x128" />
	<link rel="icon" href="/favicon.ico" sizes="16x16">
	<meta name="application-name" content="Branden Dane"/>
	<meta name="msapplication-TileColor" content="#BBBBBB" />
	<meta name="msapplication-TileImage" content="http://www.danetheory.com/mstile-144x144.png" />
	<meta name="msapplication-square70x70logo" content="http://www.danetheory.com/mstile-70x70.png" />
	<meta name="msapplication-square150x150logo" content="http://www.danetheory.com/mstile-150x150.png" />
	<meta name="msapplication-wide310x150logo" content="http://www.danetheory.com/mstile-310x150.png" />
	<meta name="msapplication-square310x310logo" content="http://www.danetheory.com/mstile-310x310.png" />
	
	<!--[if lt IE 9]>
	<script type="text/javascript" src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	
	
    <script type="text/javascript">
        // Paul Irish RequestAnimationFrame Vendor Fix Snippet //
	        window.requestAnimFrame = (function(){
              return  window.requestAnimationFrame       ||
              window.webkitRequestAnimationFrame ||
              window.mozRequestAnimationFrame    ||
              window.oRequestAnimationFrame      ||
              window.msRequestAnimationFrame     ||
              function(/* function */ callback, /* DOMElement */ element){
                window.setTimeout(callback, 1000 / 60);
              };
        })();
    </script>
    
    
</head>